
.root{
	-fx-spacing: 10;
	-fx-background-color: #373737;
	-fx-padding: 10;
	-fx-text-fill: white;
}

.table{
	-fx-background-color: #636664;


}

.toevoeg {
	-fx-background-color: #636664;
	-fx-text-fill: white;
	-fx-font-family: "Times New Roman";
	-fx-font-size: 15;
	-fx-font-weight: bold;
}

.toevoeg:hover{
	-fx-background-color: #959595;
	-fx-cursor: hand;
}

.courseview {
	-fx-text-fill: white;
	-fx-font-family: "Verdana";
	-fx-font-size: 40;
	-fx-font-weight: bold;
}

.help {
	-fx-background-color: #636664;
	-fx-text-fill: white;
	-fx-font-family: "Times New Roman";
	-fx-font-size: 20;
	-fx-font-weight: bold;
}

.help:hover{
	-fx-background-color: #b2b300;
	//-fx-cursor: hand;
}



.logout {
	-fx-background-color: #636664;
	-fx-text-fill: white;
	-fx-font-family: "Times New Roman";
	-fx-font-size: 20;
	-fx-font-weight: bold;
}

.logout:hover{
	-fx-background-color: #b2b300;
	//-fx-cursor: hand;
}



.bovenstuk {
	-fx-background-color: #636664;

}

.motto {
	-fx-text-fill: white;

}
	
.overzicht{
	-fx-background-color: #434544;
	
}



.profile {
	-fx-font-size: 20;
	-fx-text-fill: #ffffff;
	-fx-min-width: 200px;
	-fx-background-color: #434544
	
}

.profile:hover {

	-fx-background-color: #b2b300;
	//-fx-cursor: hand;
}

.courses{
	-fx-font-size: 20;
	-fx-text-fill: #ffffff;
	-fx-min-width: 200px;
	-fx-background-color: #b2b300;
}

.courses:hover{
	-fx-background-color: #b2b300;
	//-fx-cursor: hand;
}


.match {
	-fx-font-size: 20;
	-fx-text-fill: #ffffff;
	-fx-min-width: 200px;	
	-fx-background-color: #434544
	}

.match:hover {
	-fx-background-color: #b2b300;
	//-fx-cursor: hand;
}

	
.message {
	-fx-font-size: 20;
	-fx-text-fill: #ffffff;
	-fx-min-width: 200px;
	-fx-background-color: #434544
}

.message:hover{
	-fx-background-color: #b2b300;
	//-fx-cursor: hand;
}


.settings{

	-fx-font-size: 20;
	-fx-text-fill: #ffffff;
	-fx-min-width: 200px;
	-fx-background-color: #434544
	
	}

.settings:hover{
	-fx-background-color: #b2b300;
	//-fx-cursor: hand;
}

	

.extra {
	-fx-background-color: #708090;
	-fx-min-width: 200px;
	-fx-background-color: #434544
	}
	
.expartners {

	-fx-font-size: 20;
	-fx-text-fill: #ffffff;
	-fx-min-width: 200px;
	-fx-background-color: #434544
	
	}

.expartners:hover{
	-fx-background-color: #b2b300;
	//-fx-cursor: hand;
}

	
.new {

	-fx-font-size: 20;
	-fx-text-fill: #ffffff;
	-fx-min-width: 200px;
	-fx-background-color: #434544
	
	}

.new:hover {
	-fx-background-color: #b2b300;
	//-fx-cursor: hand;
}

	


